{:deps {aerial.hanami/aerial.hanami {:mvn/version "0.20.0"}
        org.scicloj/clay {:mvn/version "2-beta15"}
        clj-python/libpython-clj {:mvn/version "2.025"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/data.csv {:mvn/version "1.1.0"} 
        compojure/compojure {:mvn/version "1.7.1"}
        metosin/malli {:mvn/version "0.16.1"}
        thheller/shadow-cljs {:mvn/version "2.28.10"
                              :exclusions [com.fasterxml.jackson.core/jackson-core]}
        reagent/reagent {:mvn/version "1.2.0"}
        ring/ring {:mvn/version "1.12.2"
                   :exclusions [commons-codec/commons-codec
                                org.slf4j/slf4j-nop]}
        ring/ring-json {:mvn/version "0.5.1"}
        scicloj/tablecloth {:mvn/version "7.029.2"}}
 :paths ["src"]
 :aliases {:prod {:main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "app"]}
           :dev {:extra-paths ["dev"]
                 :extra-deps {ring/ring-devel {:mvn/version "1.12.2"}}}
           :flowstorm-local {:classpath-overrides {org.clojure/clojure nil}
                             :extra-deps {com.github.flow-storm/clojure {:mvn/version "RELEASE"}
                                          com.github.flow-storm/flow-storm-dbg {:mvn/version "RELEASE"}}
                             :jvm-opts ["-Dflowstorm.startRecording=false"
                                        "-Dclojure.storm.instrumentEnable=true"
                                        #_"-Dclojure.storm.instrumentAutoPrefixes=true"
                                        "-Dclojure.storm.instrumentOnlyPrefixes=LPM."]}}}
